# иртуальное окружение
.venv/
venv/
ENV/

# эш Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Секретные данные
.env

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# ругое
*.log
*.pid
*.rdb
*.aof
